.form_outer{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.form_outer label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.form_outer input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem 1rem;
    margin-bottom: 0.5rem;
}

.form_outer input:focus{
    outline: none;
    border-color: black;
}