.ul_outer{
    margin:2rem auto;
    width: 90%;
    max-width: 40rem;
}

.ul_outer ul{
    padding: 1rem;
}

.ul_outer li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 1rem;
}